
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://60.166.52.119:2091/vms/phone/vms.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.wtkj.IOSClientLuJing</string>
				<key>bundle-version</key>
				<string>1.9</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>vms</string>
				<key>update-content</key>
				<string>修复共享流媒体摄像头无法播放问题</string>
				<key>update-url</key>
				<string>https://dev.wantong-tech.net/vmsLj.plist</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
